@font-face {
    font-family: 'Libre_Baskerville', serif; /* Название шрифта */
    src: url('./assets/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('ttf'); /* Путь к файлу шрифта */
    font-weight: normal;
    font-style: normal;
}
html{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
img{
    width: 100%;
    border: 5px white solid;
}
h1{
    font-family: 'Libre_Baskerville';
    color: yellowgreen;
    text-transform: uppercase;
  
}
p{
    margin: 0;
}
div{
    /*width: 50vw;*/
    width: 50%;
   /* margin-left: 25vw;
    margin-top: 10vh;*/
    margin: 10vh auto;
    text-align: center;
}
@media (max-width: 600px) {
    div {
        width: 95%; /* Ширина контейнера на мобильных устройствах */
    }
}
