@font-face {
    font-family: 'Libre_Baskerville', serif; /* Название шрифта */
    src: url('./assets/Libre_Baskerville/LibreBaskerville-Regular.ttf') format('ttf'); /* Путь к файлу шрифта */
    font-weight: normal;
    font-style: normal;
}
html{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
img{
    width: 100vh;
    border: 5px white solid;
}
h1{
    font-family: 'Libre_Baskerville';
    color: yellowgreen;
    text-transform: uppercase;
  
}
p{
    margin: 0;
}
div{
    width: 50vw;
    margin-left: 25vw;
    margin-top: 10vh;
    text-align: center;
}